
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
  
    color: #185ADB;
}

body{
    font-family: 'Nunito', sans-serif;
}

.title {
    text-transform: uppercase;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--primary-font-color)
}

button{
    font-family: 'Nunito', sans-serif;
}
input {
    border-radius: 20px;
}