 
progress::-moz-progress-bar { background:greenyellow; }
progress::-webkit-progress-value { background:greenyellow; }

progress {
    background: #f1f1f1;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
    position: relative;
    color: greenyellow;
    height: 10px;
    width: 250px;
  }
  
.progressValue {
    background: #f1f1f1;
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 10px;
    background: #fff;
    color:greenyellow;
    height: 10px;
    width: 250px;
  }
  
  @keyframes load {
    0% { width: 0; }
  }

  .detailBack{
    background-image: url('../components/imagenes/fondoDetail.jpg');
   
    height: 100vh;
    grid-template-columns: repeat(auto-fill,230px);
    grid-gap: 40px;
    gap:40px;
    padding: 10vh;
    justify-content: center;
  }
  .stats{
    background-color:transparent;
    float:left;
    width: 400px;
    height: 55vh;
    padding-bottom: 4vh;
    backdrop-filter: blur(5px);
    color: whitesmoke;
  }
  .imagen{
       background-color:transparent;
    }
  
  .allDetail{
    width:90%;
    height: 80%;
    margin-left: 5vh;
    align-items: center;
    text-align:center;
    justify-content:center;
    background-color:transparent;
    box-shadow: 0 0 20px rgb(32, 15, 15), 0 0 20px grey;
    backdrop-filter: blur(5px);
     }
  .nombre{
    
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: calc(-48px - 5px);
    color: whitesmoke;
    height: 10vh;
    font-size:xx-large;
  }
  .tipos{
    color: black;
    background-color: greenyellow;
    font-size: xx-large;
    float:right;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
  }

  .buttonBox{
    
    width: 25%;
  }
  /*
  .buttonVolver{
  }*/