.background {
    background-image: url('../components/imagenes/bienvenido.png');
    height: 100vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items:center;
       color:blanchedalmond;
}

.buttonLanding {
    background-color: transparent;
    height:100px; 
    width:360px;
    border-radius: 20px;
    margin-top: calc(-48px - 5px);
    font-size:xx-large;
    border: 2.5px solid black;
    color: rgb(141, 32, 32);;
    box-shadow: 0 0 20px rgb(32, 15, 15), 0 0 20px grey;
    padding: 1vh;
}
.buttonLanding:hover{
    box-shadow: 0 0 20px rgb(141, 32, 32);
    padding:5px;
    font-size: 5vh;
}
